include "./cfg/eyecandy.kdl"
include "./cfg/autostart.kdl"
include "./cfg/input.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/rules.kdl"

// spawn-sh-at-startup "awww img ~/Media/Pictures/Wallpapers/ROR.jpg --transition-fps=100 --transition-type=center --transition-duration=3"
// spawn-sh-at-startup "swaybg -i ~/Media/Pictures/Wallpapers/ROR.jpg"

screenshot-path "~/Media/Pictures/Screenshots"


output "HDMI-A-3" {
  mode "1920x1080@100"
}

output "HDMI-A-1" {
  mode "1920x1080@100"
}


input {
  keyboard {
    xkb {
      layout "us"
      variant "colemak"
    }
  }
}

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  // QT_QPA_PLATFORM "wayland"
  // QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  // XDG_SESSION_TYPE "wayland"
  // XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORMTHEME "qt6ct"

  NVD_BACKEND "direct"
  __NV_PRIME_RENDER_OFFLOAD "1"
  __GLX_VENDOR_LIBRARY_NAME "nvidia"
  GBM_BACKEND "nvidia-drm"
}

prefer-no-csd
