prefer-no-csd

layout {
  gaps 10

  background-color "transparent"

  focus-ring {
    off
  }
  border {
    width 1
    on
  }

  center-focused-column "never"
}

cursor {
  // xcursor-theme "breeze_cursors"
  xcursor-theme "material_light_cursors"
  // xcursor-size 
}

animations {
  // Slow down all animations by this factor. Values below 1 speed them up instead.
  slowdown 0.7
  window-open {
      duration-ms 100
      curve "ease-out-expo"
    }
  window-close {
      duration-ms 100
      curve "ease-out-quad"
  }
}
