window-rule {
  geometry-corner-radius 6
  clip-to-geometry true

  background-effect {
    blur true
  }

}

// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
  match namespace="awww-daemon"
  place-within-backdrop true
}

overview {
  workspace-shadow {
    on
  }
}

gestures {
  hot-corners {
    off
  }
}
